* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
    line-height: 1.4;
}

:root {
    font-size: 20px;
}

h1, h2, h3 {
    text-align: center;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.2rem;
}

.App {
    margin: 50px;
}

.outer-cont {
    display: flex;
    justify-content: left;
}