@import "./variables.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    hyphens: auto;
    line-height: 1.4;
    font-family: var(--main-font);
    font-size: 21px;
}

h1,
h2,
h3 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.15rem;
}

button {
    color: var(--text-on-primary-color);
    background-color: var(--primary-color);
    padding: 8px 10px;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s linear;
}

button:hover {
    background-color: var(--primary-color-light);
    transition: 0.4s ease-out;
}

button:active {
    background-color: var(--primary-color-dark);
    transition: 0.2s ease-in;
}

ul,
ol,
blockquote {
    margin-left: min(50px, 10vw);
    margin-bottom: 15px;
    line-height: 1.1;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 5px;
}

b,
i,
li {
    line-height: inherit;
}

.App {
    display: flex;
    max-width: min(94vw, 1200px);
    margin: min(3vw, 40px);
}

.side-cont {
    width: 25%;
    min-width: 190px;
    max-width: 250px;
}

.kant-image {
    max-width: 100%;
    border-radius: 5px;
}

.app-inner-cont {
    width: 75%;
}

@media screen and (max-width: 960px) {
    * {
        font-size: 20px;
    }

    .App {
        margin: min(3vw, 20px);
    }

    .app-inner-cont {
        width: 100%;
    }
}

@media screen and (max-width: 720px) {
    * {
        font-size: 18px;
    }

    .App {
        max-width: 92vw;
        margin: 4vw;
    }

    .side-cont {
        display: none;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.1rem;
    }

    button {
        padding: 6px;
    }
}