@import "./variables.css";

.page-number-cont {
    grid-column: 1;
    text-align: right;
}

.page-number {
    font-size: 0.9rem;
}

.lesson-list-text {
    grid-column: 2;
    text-align: justify;
    margin: 0 15px;
}

.lesson-list-text.lesson-question {
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 7px;
    box-shadow: 4px 6px 4px gray;
}