@import "./variables.css";

.page-number-cont {
    grid-column: 1;
}

.lesson-list-text {
    grid-column: 2;
    text-align: justify;
    margin: 0 15px;
}

.lesson-list-text.lesson-question {
    padding: 15px;
    background-color: var(--accent-color);
    border-radius: 7px;
    box-shadow: 5px 7px 5px gray;
}