@import "./variables.css";

.NavBar {
    margin-bottom: 30px;
    padding: 15px;
    background-color: var(--primary-color);
}

.home-icon, .account-icon {
    margin: 0 10px;
    color: var(--text-on-primary-color);
    font-size: 1.1rem;
    transition: linear 0.2s;
}

.home-icon:hover, .account-icon:hover {
    font-size: 1.25rem;
    transition: linear 0.3s;
}

.NavBar.small {
    display: none;
}

@media screen and (max-width: 720px) {
    .NavBar.small {
        display: block;
        max-width: 100%;
    }
}