@import "./variables.css";

.Note {
    grid-column: 3;
    display: flex;
    place-items: center;
    max-height: 100%;
    text-align: left;
    color: lightpink;
}

.Note:hover {
    color: var(--primary-color);
    transition: color 1s ease-out;
}

.Note:active {
    color: var(--primary-color-very-dark);
    transition: 0.2s ease-in;
}

.note-text,
.snippet {
    color: darkslategrey;
    font-family: var(--notes-font);
    font-size: 0.8rem;
    line-height: 1.2;
}

.note-text {
    text-align: justify;
}

.plus-icon {
    margin-left: 40px;
    font-size: 1.6rem;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px grey;
    border-radius: 50%;
}

.edit-note-icon, .open-note-icon, .close-note-icon {
    margin-left: 0.5em;
    color: var(--primary-color);
    cursor: pointer;
}