@import "./variables.css";

textarea {
    padding: 8px;
    font-family: var(--notes-font);
    font-size: 0.8rem;
    line-height: 1.15;
    border-radius: 5px;
}

.NoteForm button {
    margin-top: 5px;
    font-size: 0.9rem;
    font-weight: normal;
    margin-right: 8px;
}