@import "./variables.css";

textarea {
    padding: 8px;
    font-family: var(--notes-font);
    font-size: 0.8rem;
    line-height: 1.15;
}

.NoteForm button {
    font-weight: normal;
    margin-right: 5px;
}