@import "./variables.css";

.Note {
    grid-column: 3;
    display: flex;
    place-items: center;
    text-align: left;
    color: lightpink;
}

.Note:hover {
    color: var(--primary-color);
    transition: color 1s ease-out;
}

.note-text {
    text-align: justify;
}

.snippet {
    
}

.snippet-click-el {
    cursor: pointer;
    margin-left: 8px;
    font-style: italic;
}

.plus-icon {
    margin-left: 40px;
    cursor: pointer;
    box-shadow: 1.5px 1.5px 1.5px grey;
    border-radius: 50%;
}

.edit-icon {
    margin-left: 0.5em;
    color: var(--primary-color);
    cursor: pointer;
}