@import "./variables.css";

.Sidebar {
    width: 250px;
    margin-top: 30px;
    flex-shrink: 0;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    text-align: center;
}

.Sidebar .toc-list-outer-cont {
    padding: 10px;
    padding-left: 30px;
}

.Sidebar .toc-list-outer-cont:hover {
    background-color: var(--primary-color-light);
}
