@import "./variables.css";

.Sidebar {
    width: 250px;
    flex-shrink: 0;
    margin-left: 20px;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
    text-align: center;
}

.Sidebar .toc-list-outer-cont {
    margin-left: 15px;
}

.Sidebar .toc-list-outer-cont:hover {
    background-color: var(--primary-color-light);
}

.Sidebar .toc-title {
    color: var(--text-on-primary-color);
}