@import "./variables.css";

.Sidebar {
    min-width: 150px;
    max-width: 200px;
    margin-left: 50px;
    margin-top: 60px;
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}