@import "./variables.css";

.ToCListCont {
    text-align: justify;
    color: var(--text-on-primary-color);
}

.ToCTitle {
    color: var(--text-on-primary-color);
}

.page-numbers {
    margin-left: 30px;
    font-style: italic;
}