@import "./variables.css";

.toc-list-outer-cont {
    display: flex;
}

.toc-list-inner-cont {
    display: flex;
    font-weight: bold;
}

.toc-sublist-inner-cont {
    display: flex;
    /* padding: 5px 7px; */
    background-color: var(--primary-color);
    color: var(--text-on-primary-color);
}

.toc-sublist-inner-cont:hover {
    background-color: var(--primary-color-light);
    text-decoration-color: var(--text-on-primary-color);
}

.toc-list-icon-cont {
    margin-right: 20px;
}

.toc-list-num, .toc-title {
    line-height: 1.2;
}

.toc-title {
    margin-left: 5px;
    color: unset;
    text-decoration: none;
    text-align: left;
}

.toc-title:hover {
    text-decoration: underline;
}

.page-numbers {
    margin-left: 30px;
    font-style: italic;
}

.open-toc-content-icon, .close-toc-content-icon {
    cursor: pointer;
}

.toc-description {
    margin: 15px 0;
}

.toc-description, .toc-intro-link {
    margin-left: 30px;
}