:root {
    --primary-color: rgb(151, 3, 151);
    --primary-color-light: rgb(184, 44, 184);
    --primary-color-very-light: rgb(214, 60, 214);
    --primary-color-dark: rgb(121, 5, 121);
    --text-on-primary-color: whitesmoke;
    --accent-color: rgb(231, 231, 143);
    --main-font: Garamond, sans-serif;
    --notes-font: Optima, sans-serif;
}