@import "./variables.css";

.Welcome {
    max-width: 800px;
    margin: 60px;
}

.Welcome .ToC {
    border-left: var(--primary-color) 10px solid;
}

.welcome-text-cont {
    max-width: 800px;
    min-height: 190px;
}

.book-cover-img {
    float: right;
    margin-left: 30px;
}